/* ===== SEARCH OVERLAY ===== */

.search-overlay {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}


.search-box {
  background: white;
  padding: 30px 40px;
  border-radius: 8px;
  text-align: center;
  min-width: 300px;
  max-width: 90%;
  position: relative;
}

#search-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-submit {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #0b3a6e;
  color: white;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}

#search-submit:hover {
  background: #092a53;
}

#search-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

#search-close:hover {
  color: #000;
}
